body {
    background-color: #DDD;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}
.profile-photo {
    margin-top: 20px;
    fon
}
html {
    font-family: Helvetica;
    background-color:cadetblue; 
}

.container {
    max-width: 1200px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 50px;
    background-color: cadetblue;
}

header img {
    background-color: #aaa;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: relative;
}

.curiosidades-container {
    padding: 25px 0;
    margin: 25px 0;
    border-top: 2px dashed cadetblue;
    border-bottom: 2px dashed cadetblue;
}

.bio-container {
    padding: 20px 0;
    margin: 20px 0;
    border-top: 2px dashed cadetblue;
    border-bottom: 2px dashed cadetblue;
}

.bio-container  p {
    font-style: italic;
}
.interests-container li {
    height: 30px;
}

.footer-profile {
    text-align: start;
    font-family: 'Chivo Mono', monospace;
    font-size: 16px;
    color: rgb(254, 254, 254);
    background-color: cadetblue;
    padding: 10px;
}


